.landingLayoutContainer,
.landingLayoutContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.landingLayoutContainer {
    background-image: url(../../assets/concurso-pto-venta-halloween-2-fondo.jpg);
}
.landingLayoutContent {
    background-image: url(../../assets/TEXTURAS.png);
}